body {
  background-color: lightgray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article {
  display: flex;
  width: 80%;
  height: 5rem;
  margin: 1rem;
}
.reverse {
  display: flex;
  flex-direction: row-reverse;
}

article .box-1 {
  background: rgba(100, 0, 0, 1);
  flex: 0;
}
article .box-2 {
  flex: 1;
  background: rgba(100, 20, 0, 1);
}
article .box-3 {
  flex: 1;
  background: rgba(100, 40, 0, 1);
}
article .box-4 {
  flex: 2;
  background: rgba(100, 60, 0, 1);
}
article .box-5 {
  flex: 3;
  background: rgba(100, 80, 0, 1);
}
article .box-6 {
  flex: 5;
  background: rgba(100, 100, 0, 1);
}
article .box-7 {
  flex: 8;
  background: rgba(100, 120, 0, 1);
}
article .box-8 {
  flex: 13;
  background: rgba(100, 140, 0, 1);
}
article .box-9 {
  flex: 21;
  background: rgba(100, 160, 0, 1);
}
article .box-10 {
  flex: 34;
  background: rgba(100, 180, 0, 1);
}
article > section {
  padding: 0.5rem;
  color: rgb(241, 229, 229);
}
